.btn {
  customButton: center center center;
  background-color: #22283B;
  border-radius: 5px;
  text-align: center;
  width: 90%;
  height: 60px;
  padding-top: 25px;
  color: white;
  font-size: 4rem;
  line-height: 0;
}
@media screen and (min-width: 501px) {
  .btn {
    width: 50%;
    font-size: 3rem;
    line-height: 0;
  }
}
.btn:hover {
  customButton: center center center;
  background-color: black;
  border-radius: 5px;
  text-align: center;
  width: 91%;
  height: 60px;
  padding-top: 25px;
  color: red;
  font-size: 4rem;
  line-height: 0;
  border: 1px dashed red;
}
@media screen and (min-width: 501px) {
  .btn:hover {
    width: 51%;
    font-size: 3.1rem;
    line-height: 0;
  }
}
/* Stretch Goal */
.btn:active {
  -webkit-animation-name: example;
  /* Safari 4.0 - 8.0 */
  -webkit-animation-duration: 4s;
  /* Safari 4.0 - 8.0 */
  animation-name: example;
  animation-duration: 4s;
  background-color: yellow;
}
@-webkit-keyframes example {
  from {
    background-color: red;
  }
  to {
    background-color: yellow;
  }
}
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
html,
body {
  font-family: 'Ubuntu', sans-serif;
  color: #5E6164;
  margin: 0 auto;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: 'Russo One', sans-serif;
  color: #23293B;
}
h1 {
  font-size: 4.2rem;
}
h2 {
  font-size: 3.2rem;
}
h3 {
  font-size: 2.8rem;
}
p {
  font-size: 1.6rem;
  line-height: 1.4;
}
.container {
  width: 95vw;
  margin: 0 auto;
}
body {
  margin: 0 auto;
  width: 100vw;
}
body nav {
  display: flex;
}
@media screen and (max-width: 476px) {
  body nav img {
    width: 50%;
  }
}
body nav ul {
  display: flex;
  justify-content: right;
  padding-top: 20px;
  width: 90vw;
}
@media screen and (max-width: 476px) {
  body nav ul {
    width: 70vw;
  }
}
body nav li {
  padding-left: 15px;
  font-size: 1.4rem;
}
body .intro h3 {
  padding-bottom: 40px;
  padding-left: 5%;
}
body .intro h1 {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 20px 0;
  font-size: 8rem;
}
@media screen and (max-width: 1122px) {
  body .intro h1 {
    font-size: 6rem;
  }
}
@media screen and (max-width: 476px) {
  body .intro h1 {
    font-size: 4rem;
  }
}
footer {
  color: #22283B;
  background: #f4f4f4;
  padding: 20px 0;
  border: 1px double #e0e0e0;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
body .mem1 {
  display: flex;
}
body .mem1 img {
  margin: 20px 20px;
  width: 50%;
  border-radius: 20px;
}
body .mem1 .mem-1-right {
  text-align: center;
  align-self: center;
}
body .mem1 .mem-1-right h2 {
  padding-bottom: 5%;
}
body .mem2 {
  display: flex;
  flex-direction: row-reverse;
}
body .mem2 img {
  margin: 20px 20px;
  width: 50%;
  border-radius: 20px;
}
body .mem2 .mem-2-left {
  text-align: center;
  align-self: center;
}
body .mem2 .mem-2-left h2 {
  padding-bottom: 5%;
}
body .mem3 {
  display: flex;
}
body .mem3 img {
  margin: 20px 20px;
  width: 50%;
  border-radius: 20px;
}
body .mem3 .mem-3-right {
  text-align: center;
  align-self: center;
}
body .mem3 .mem-3-right h2 {
  padding-bottom: 5%;
}
body .sec-1 {
  position: relative;
}
body .sec-1 img {
  width: 100vw;
  margin: 0 auto;
}
body .sec-1 h2 {
  position: absolute;
  bottom: 200px;
  left: 35%;
  background-color: white;
  opacity: 0.7;
}
@media screen and (max-width: 1122px) {
  body .sec-1 h2 {
    font-size: 2.2rem;
  }
}
@media screen and (max-width: 476px) {
  body .sec-1 h2 {
    bottom: 120px;
    font-size: 1.8rem;
  }
}
@media screen and (max-width: 320px) {
  body .sec-1 h2 {
    font-size: 1rem;
  }
}
body .sec-1 h3 {
  position: absolute;
  bottom: 90px;
  left: 15%;
  background-color: white;
  opacity: 0.7;
  text-align: center;
  max-width: 1000px;
}
@media screen and (max-width: 1122px) {
  body .sec-1 h3 {
    font-size: 1.8rem;
    max-width: 800px;
  }
}
@media screen and (max-width: 476px) {
  body .sec-1 h3 {
    font-size: 1.4rem;
    bottom: 40px;
  }
}
@media screen and (max-width: 320px) {
  body .sec-1 h3 {
    font-size: 1rem;
  }
}
body .sec-2 {
  display: flex;
}
body .sec-2 img {
  margin: 20px 20px;
  width: 50%;
  border-radius: 20px;
}
@media screen and (max-width: 476px) {
  body .sec-2 img {
    width: 90%;
  }
}
@media screen and (max-width: 476px) {
  body .sec-2 {
    flex-direction: column-reverse;
  }
}
body .sec-2 .sec-2-right {
  text-align: center;
  align-self: center;
}
body .sec-2 .sec-2-right h2 {
  padding-bottom: 5%;
}
@media screen and (max-width: 476px) {
  body .sec-2 .sec-2-right h2 {
    padding-top: 5%;
  }
}
body .sec-3 {
  display: flex;
  flex-direction: row-reverse;
}
body .sec-3 img {
  margin: 20px 20px;
  width: 50%;
  border-radius: 20px;
}
@media screen and (max-width: 476px) {
  body .sec-3 img {
    width: 90%;
  }
}
@media screen and (max-width: 476px) {
  body .sec-3 {
    flex-direction: column-reverse;
  }
}
body .sec-3 .sec-3-left {
  text-align: center;
  align-self: center;
}
body .sec-3 .sec-3-left h2 {
  padding-bottom: 5%;
}
body .sec-4 {
  display: flex;
}
body .sec-4 img {
  margin: 20px 20px;
  width: 50%;
  border-radius: 20px;
}
@media screen and (max-width: 476px) {
  body .sec-4 img {
    width: 90%;
  }
}
@media screen and (max-width: 476px) {
  body .sec-4 {
    flex-direction: column-reverse;
  }
}
body .sec-4 .sec-4-right {
  text-align: center;
  align-self: center;
}
body .sec-4 .sec-4-right h2 {
  padding-bottom: 5%;
}
